*{
    margin: 0;
    padding: 0;
    list-style-type:none ;
    box-sizing: border-box;
}

.header{
    width: 100%;
 
    background-color: black ;
    background-image: url(../imagenes/header.jpg);
    height: 150px;
    padding: 20px;
    border: 4px solid white;
 
}

.header__logo{
    font-size: 75px;
    color: white;
    font-family: 'Special Elite', cursive; 
}


.header__menu ul{
    display: flex;
    align-content: space-between;
    }
    
    .header__menu ul li a{
        text-decoration: none;
        margin: 0 15px;
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 18px;
      
    }
    .header__menu ul li a:hover{background-color: rgb(252, 5, 5);
        color: rgb(5, 5, 5);
        }
 .titulo{
            background-color: rgb(5, 5, 5);
            color: white;
            font-family: 'Orbitron', sans-serif;
        }

        .redessociales{
            border: 2px solid white;
                  background: rgb(248, 244, 244);
                  display: flex;
          height: 30vh;
          align-items: center;
          justify-content: center;
          
              }
              .redessociales ul li {
                display: inline-block; 
                margin:0 5px ;
                width: 50px;
                height:50px ;
                text-align: center;
             } 
             
             .redessociales ul li a{
                display: block;   
                color:rgb(8, 8, 8) ;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 0 3px 5px 0px rgb(0, 0, 0);
                transition: .2s;
               }
             
               .redessociales ul :hover a{
                background: rgb(13, 155, 173);
                color: rgb(8, 8, 8);
            }
        
            .redessociales ul li a :hover{transform:translateY(-4px)scale(1.5) ;
        
            }  